.holder {
    vertical-align: middle;
    margin: 20px 0;
}

.holder a {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    padding-top: 3px;
    color: #42484b;
    font-size: 13px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
	
}

.holder a:hover {
    background-color: floralwhite;
    color: #b40139;
}

.holder a.jp-previous {     
    width: 27px;
    display: inline-block;
    background-color: #b40139;
    background-image: url(../images/holder_left.png);
    margin-right: 6px;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden; 

}
.holder a.jp-next {     
    width: 27px;
    display: inline-block;
    background-color: #b40139;
    background-image: url(../images/holder_right.png);
    margin-right: 6px;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden; 
}

.holder a.jp-current, a.jp-current:hover { 
	 background-color: floralwhite;
     color: #b40139;
     font-weight:800;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}


.holder a.jp-previous:hover, a.jp-next:hover{
    background-color: #e61b5b;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: pointer; 
	/*background: none;*/
}


.holder a.jp-disabled, a.jp-disabled:hover {
    cursor: pointer; 
    background-color: #b40139 !important;  
}

.holder span { margin: 0 5px; }


